#ONEDRIVE_PHOTO_INFO {
  --top: none;
  --left: none;
  --bottom: 0;
  --right: 0;
}

@keyframes trans {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.region.fullscreen #ONEDRIVE_PHOTO {
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#ONEDRIVE_PHOTO {
  position: relative;
  min-width: 300px;
  min-height: 300px;
}

#ONEDRIVE_PHOTO_CURRENT {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#ONEDRIVE_PHOTO_CURRENT.animated {
  animation-name: trans;
  animation-duration: 2s;
}

#ONEDRIVE_PHOTO_BACKDROP {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(10px) sepia(80%) brightness(40%);
}

#ONEDRIVE_PHOTO_OVERLAY {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
  padding: 8px;
  gap: 8px;
}

#ONEDRIVE_PHOTO_INFO_WRAPPER {
  flex-grow: 1;
  position: relative;
}

#ONEDRIVE_PHOTO_INFO {
  position: absolute;
  top: var(--top);
  left: var(--left);
  bottom: var(--bottom);
  right: var(--right);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 36px;
  line-height: 100%;
  text-align: left;
}

#ONEDRIVE_PHOTO_INFO .albumCover {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

#ONEDRIVE_PHOTO_INFO .albumTitle {
  color: #fdd;
}

#ONEDRIVE_PHOTO_INFO .photoTime {
  color: #dfd;
}

#ONEDRIVE_PHOTO_INFO .infoText {
  float: right;
  margin-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
}

#ONEDRIVE_PHOTO_STATUS_WRAPPER {
  display: flex;
  flex-direction: row-reverse;
}

#ONEDRIVE_PHOTO_STATUS {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 8px;
  text-align: left;
  font-size: small;
}

#ONEDRIVE_PHOTO_STATUS:empty {
  display: none;
}
